---
layout: default
title: Home
---

<h1> Hello! </h1>

<div>
	<div class="thumbnail-container">
		<img src="{{ site.github.url }}/assets/img/alaska_headshot.png">
	</div>
	<h2>
		I'm Elizabeth Case. I'm a scientist, writer, artist, and educator. Currently I'm <a href= "https://elizabethcase.github.io/menu/research.html">working on my PhD</a> at Columbia University and the Lamont-Dohety Earth Observatory. I'm the co-founder of <a href = "www.cycleforscience.org">Cycle for Science</a>. I have been published in Scientific American, the State of the Planet, and more. 
	</h2>
	<h2>
		My [cv is available here](https://github.com/Elizabethcase/elizabethcase.github.io/blob/master/assets/cv/Case_CV_2020_July.pdf?raw=true)
	</h2>
</div>

<!--
{% for post in paginator.posts %}
<div class="posts">
  <h1>
    <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
  </h1>
  {% if post.image %}
  <div class="thumbnail-container">
    <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/assets/img/{{ post.image }}"></a>
  </div>
  {% endif %}
  <p>
    {{ post.content | strip_html | truncate: 350 }} <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
    <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
  </p>
</div>
{% endfor %}
-->

<!-- Pagination links -->
<!--
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
-->