---
layout: default
title: Home
---

<h1>☹ Hello ☺</h1>

<div>
	<div class="thumbnail-container">
		<img src="{{ site.github.url }}/assets/img/alaska_headshot.png">
	</div>
	<p>
		I'm Elizabeth Case. I'm a scientist, writer, artist, and educator. Currently I'm <a href= "https://elizabethcase.github.io/menu/research.html">working on my PhD</a> at Columbia University and the Lamont-Dohety Earth Observatory. I'm the co-founder of <a href = "https://www.cycleforscience.org">Cycle for Science</a>. I have been published in Scientific American, the State of the Planet, and more. 
	</p>
	<p>
    Download <a href = "https://github.com/Elizabethcase/elizabethcase.github.io/blob/master/assets/cv/Case_CV_2020_July.pdf?raw=true">my CV here</a> or preview below (last updated July 2020) 
  <div id="adobe-dc-view" style="width: 800px;"></div>
  <script src="https://documentcloud.adobe.com/view-sdk/main.js"></script>
  <script type="text/javascript">
      document.addEventListener("adobe_dc_view_sdk.ready", function () 
      {
          var adobeDCView = new AdobeDC.View({
              clientId: "a23f0bc9032b495dae3fcef0a38498c3",
              divId: "adobe-dc-view"
          });
          adobeDCView.previewFile({
              content: { promise: "{{site.github.url}}/assets/cv/Case_CV_2020_July.pdf"} },
              metaData: { fileName: "Case_CV_2020_July.pdf" }
          }, {
              embedMode: "IN_LINE",
              showDownloadPDF: false,
              showPrintPDF: false
          });
      });
  </script>
	</p>
</div>

<!--
  location: { url:"https://drive.google.com/file/d/1h0x-OV4dwMowibHjPgIdLUWYT9ODRs_A/view?usp=sharing"
{% for post in paginator.posts %}
<div class="posts">
  <h1>
    <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
  </h1>
  {% if post.image %}
  <div class="thumbnail-container">
    <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/assets/img/{{ post.image }}"></a>
  </div>
  {% endif %}
  <p>
    {{ post.content | strip_html | truncate: 350 }} <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
    <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
  </p>
</div>
{% endfor %}
-->

<!-- Pagination links -->
<!--
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
-->